/*Creo una clase 'imagen' para darle tamaño*/
.img{
    width: 20em;
    height: 10em;
}
/*Empiezo con la clase body para tener un div de fondo donde trabajar*/
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50em;
    width: 50em;
}

/*Ésta es la barra superior de menú*/

.superior1{
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 2em;

    display: flex;
    flex-direction: row;
}

.barras{
    color: rgb(155, 154, 154);
    justify-content: space-evenly;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    background-color: rgb(65, 65, 65);
    grid-template-rows: repeat(8 ,2fr);
}

.barraweb{
    background-color: rgb(65, 65, 65);
}

.barraimages{
    background-color: rgb(65, 65, 65);
}

.barravideos{
    background-color: rgb(65, 65, 65);
}

.barramaps{
    background-color: rgb(65, 65, 65);
}

.barranews{
    background-color: rgb(65, 65, 65);
}

.barrashopping{
    background-color: rgb(65, 65, 65);
}

.barramail{
    background-color: rgb(65, 65, 65);
}

.barramore{
    background-color:rgb(65, 65, 65);
}

/*Empezamos a colocar el logo y los botones en su sitio*/

.sublogo{
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  
    background-color: rgb(255, 255, 255);

}

.barrabusqueda{
    width: 30em;
    height: 2em;
    background-color: darkorchid;
}

.search{
    justify-items: center;
    margin:30px black;
    background-color: rgb(182, 182, 182);
    width: 7em;
    height: 3em;
    margin-right: 1em;


}

.lucky{
    text-justify: auto;
    margin:30px black;
    background-color: rgb(182, 182, 182);
    width: 7em;
    height: 3em;
}


