/*Creo una clase 'imagen' para darle tamaño*/
    
.img{
    width: 22em;
    height: 9em;
}
/*Empiezo con la clase body para tener un div de fondo donde trabajar*/
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 99vh;
    width: 99vw;
}

/*Ésta es la barra superior de menú*/

.superior1{
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 2em;

    display: flex;
    flex-direction: row;
}

.barras{
    color: rgb(155, 154, 154);
    justify-content: space-evenly;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    background-color: rgb(65, 65, 65);
    grid-template-rows: repeat(8 ,2fr);
}

.barraweb{
    background-color: rgb(65, 65, 65);
}

.barraimages{
    background-color: rgb(65, 65, 65);
}

.barravideos{
    background-color: rgb(65, 65, 65);
}

.barramaps{
    background-color: rgb(65, 65, 65);
}

.barranews{
    background-color: rgb(65, 65, 65);
}

.barrashopping{
    background-color: rgb(65, 65, 65);
}

.barramail{
    background-color: rgb(65, 65, 65);
}

.barramore{
    background-color:rgb(65, 65, 65);
}

/*Empezamos a colocar el logo y los botones en su sitio*/

.sublogo{
    width: 20em;
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
}

.search{
    justify-items: center;
    margin:30px black;
    background-color: rgb(255, 255, 255);
    width: 100em;
    height: 1.5em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
    font-style: inherit;
    border:solid black 0.1em;
    background: linear-gradient(rgb(231, 231, 231), rgb(252, 252, 252), rgb(231, 231, 231));
}

.search:hover{
    transition: 0.5s;
    background-color: lawngreen;
}

.lucky{
    text-justify: auto;
    margin:30px black;
    background-color: rgb(243, 242, 242);
    width: 100em;
    height: 1.5em;
    margin-top: 1em;
    text-align: center;
    margin-left: 0.5em;
    border:solid black 0.1em;
    background: linear-gradient(rgb(231, 231, 231), rgb(252, 252, 252), rgb(231, 231, 231));

}

/*Introducimos la barra de búsqueda. Un div transparente con un border discreto.*/

.barrabusqueda{
    width: 35em;
    height: 1.5em;
    background-color: rgb(255, 255, 255);
    color: black;
    background-color: rgb(255, 255, 255);
    border: solid rgb(124, 124, 124) 0.1em;
}

.barrita{
    font-size: 1.5em;
}


